<div class="booking_table d_flex align-items-center">
	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
	<div class="container">
		<div class="banner_content text-center">
			<h6>Günlük hayatın koşturmacasından uzaklaşın</h6>
			<h2>Zihninizi Dinlendirin</h2>
			<p>Eğer aradığınız huzur dolu bir mola ise, doğru yerdesiniz. Unutulmaz bir deneyim için şimdi adım atın ve hayatın tadını çıkarın.</p>
			<a href="#" class="btn theme_btn button_hover">Keşfe Başla</a>

		</div>
	</div>
</div>
